<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <h2>Yahoo! プレミアムハンター <small>~激熱アイテム発掘ツール~</small></h2>
      <p class="lead">アマゾンとヤフーショッピング間の商品リサーチ＆出品システム</p>
      <h3>オススメ商品をピックアップ!</h3>
      <table class="table table-striped table-hover table-bordered table-headerfixed ellipsis tablesorter" id="result_table">
        <thead class="thead-inverse" style="font-size: 9pt;">
          <tr>
            <th width="11%">ASIN</th>
            <th width="15%">アマゾン</th>
            <th width="15%">ヤフショ</th>
            <th width="7%">アマゾン<br>価格</th>
            <th width="7%">アマゾン<br>手数料</th>
            <th width="7%">ヤフショ<br>価格</th>
            <th width="7%">ヤフショ<br>ポイント</th>
            <th width="7%">ヤフショ<br>送料</th>
            <th width="8%" class="info text-danger">利益額</th>
            <th width="6%">利益率</th>
            <th width="5%">モノ<br>レート</th>
            <th width="5%">出品<br>制限</th>
          </tr>
        </thead>
        <% if @products != nil then %>
        <% counter = 0 %>
        <tbody style="font-size: 9.5pt;">
          <% for temp in @products %>
          <% points = temp.normal_point.to_f %>
          <% if @account.premium == true then points = points + temp.premium_point.to_f end %>
          <% if @account.softbank == true then points = points + temp.softbank_point.to_f end %>
          <% if temp.cart_price != 0 then aprice = temp.cart_price.to_f + temp.cart_shipping.to_f else aprice = temp.lowest_price.to_f + temp.lowest_shipping.to_f end %>
          <% if (temp.yahoo_price.to_f - points) != 0 then profit = (aprice - (aprice * temp.amazon_fee.to_f) - (temp.yahoo_price.to_f - points + temp.yahoo_shipping.to_f)).to_i else profit = 0 end %>
          <% if profit > 0 then %>
          <tr>
            <% if temp.listing == true then checked = 'checked="checked"' else checked = "" end %>
            <% checked = "" %>
            <td width="11%"><br><br><%= temp.asin %></td>
            <td width="15%" style="white-space: normal; text-overflow: clip; font-size: 8pt;"><img src="<%= temp.amazon_image %>" alt="アマゾン画像" height="60" /><br><a href="https://www.amazon.co.jp/dp/<%= temp.asin %>" target="_blank" style="color:black;"><%= temp.title %></a></td>
            <td width="15%" style="white-space: normal; text-overflow: clip; font-size: 8pt;"><% if temp.yahoo_code != nil then %><img src="<%= temp.yahoo_image %>" alt="ヤフオク画像" height="60" /><br><a href="https://store.shopping.yahoo.co.jp/<%= temp.yahoo_code.gsub("_","/") %>" target="_blank" style="color:black;" ><%= temp.yahoo_title %></a><% else %><br><br><%= temp.yahoo_title %><% end %></td>
            <td width="7%" style="text-align:center; font-size: 10pt;"><br><br><%= aprice.to_i %></td>
            <td width="7%" style="text-align:center; font-size: 10pt;"><br><br><%= (aprice * temp.amazon_fee.to_f).to_i %></td>
            <td width="7%" style="text-align:center; font-size: 10pt;"><br><br><%= temp.yahoo_price.to_f.to_i %></td>
            <td width="7%" style="text-align:center; font-size: 10pt;"><br><br><%= points.to_i %></td>
            <td width="7%" style="text-align:center; font-size: 10pt;"><br><br><%= temp.yahoo_shipping.to_i %></td>
            <% if profit > 0 then %>
              <td width="8%" style="text-align:center; font-size: 10pt;" class="warning text-danger"><br><br><b><%= profit %></b></td>
            <% else %>
              <td width="8%" style="text-align:center; font-size: 10pt;" class="warning"><br><br><b><%= profit %></b></td>
            <% end  %>
            <td width="6%" style="text-align:center; font-size: 10pt;"><br><br><% if profit != 0 && (temp.yahoo_price.to_f - points) != 0 then %><%= (((aprice - (aprice * temp.amazon_fee.to_f) - (temp.yahoo_price.to_f - points + temp.yahoo_shipping.to_f)) / (temp.yahoo_price.to_f - points))*100).round(1) %><% else %>0<% end %></td>
            <td width="5%"><br><br><a href="https://mnrate.com/item/aid/<%= temp.asin %>" target="_blank"><%= image_tag('mnrate.png', :height => "30pt") %></a></td>
            <td width="5%"><br><br><a href="https://sellercentral.amazon.co.jp/productsearch?q=<%= temp.asin %>" target="_blank"><%= image_tag('amazon.png', :height => "30pt") %></a></td>
          </tr>
          <% counter += 1 %>
          <% end %>
          <% end %>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function()
    {

      $("#result_table").tablesorter();

      $(function() {
        $('[id^="chk"]').click(function(event){
          event.stopPropagation();
        });
        $('[id^="chk"]').parent('td').click(function(event){
          $(this).children('[id^="chk"]').trigger('click');
        });
        $('label[for^="chk"]').click(function(event) {
          event.preventDefault();
        });
      });

    }
  );
</script>
